.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Navigation */

.site-content {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%
}

header {
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  top: 0;
  width: 100%;
  user-select: none; /* Standard */
  position: sticky;
  z-index: 99;
}

.nav-cont {
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  top: 0;
  width: 100%;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: 0;
}

.mob-cont {
  display: none;
  overflow: hidden;
  align-items: center;
  width: 100%;
}

.mobilenav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column wrap;
  overflow: hidden;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: 0;
  transition: margin 0.3s;
  font-size: 24px;
}

.artist {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.nickname {
  font-weight: 300;

}

.navlink {
  float: left;
  display: flex;
  flex-flow: row wrap;
  color: gray;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.navlink:hover {
  color: rgb(0, 0, 0);
}

.hamburger-click-area {
  padding: 24px;
  display: none;
  opacity: 0.5;
  background-color: rgb(255, 255, 255);
  align-items: center;
}

.hamburger {
  width: 24px;
  height: 14px;
}

.hamburger i {
  /* transition: width 1s, margin-left 1s, transform 0.5s; */
  display: block;
  height: 2px;
  margin-bottom: 5px;
  background-color: black;
}

.hamburger-click-area:hover {
  opacity: 1;
}

/* Projects */
main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* top: 64px; */
  width: 100%;
  /* border: 1em solid red; */
}

.project-container {
  /* border: 1em solid black; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1;
}

.project-card {
  position: relative;
  overflow: hidden;
  width: 33.3333%;
  border: 0.5em solid transparent;
  box-sizing: border-box;
}

.project-card:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.project {
  /* height: 10%; */
  /* left: 50%;
  top: 50%; */
  transform: translate(-50%, -50%);
  /* border: 1em solid green; */
  box-sizing: border-box;
}

.project img {
  width: 100%;
  object-fit: cover;
  /* transform: scale(2); */
  position: absolute;
  /* color: rgb(219, 126, 20); */
}

.project:hover {
  opacity: 0.5;
}

/* Project Display */

.project-display {
  width: 100%;
}

.project-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project-nav p {
  font-size: 50px;
  align-self: flex-start;
  position: sticky;
  top: 30%;
  width: 1.6em;
  height: 1.6em;
  box-sizing: initial;
  color: rgb(0, 0, 0);
  /* background-color: rgb(223, 223, 223); */
  border-radius: 50%;
  text-align: center;
  line-height: 1.6em;
  box-sizing: content-box;
  opacity: 0.2;
  user-select: none; /* Standard */
}

.project-nav p:hover {
  opacity: 1;
}

.project-full img {
  width: 75%;
  object-fit: contain;
}

.title {
  font-weight: bold;
}

.description {

}

/* Project Page Transitions */


/* Exhibitions Display */

.ex-container {
  padding-left: 10%;
  padding-right: 10%;
}

.exhibitions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.residencies {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.exhibition {
  text-align: justify; /* For Edge */
  -moz-text-align-last: left; /* For Firefox prior 58.0 */
  text-align-last: left;
}

/* About Page */
.about-page {
  font-size: 21px;
  text-indent: 64px;
  text-align: left;
  width: 80%;
  margin-left: 10%;
}

.profile-pic {
  width: 400px;
  height: 488px;
  float: left;
  margin: 25px;
  border: 1px solid black;
}

.text p {
  margin: 0;
  line-height: 1.5;
}
/* Media Adjust */
/*768px?*/

@media (max-width: 832px) {
  .project-card {
    width: 50%;
    border: 0.5em solid transparent;
  }

  .site-content {
    margin-left: 0%;
    margin-right: 0%;
    width: 100%
  }

  .hamburger-click-area {
    display: flex;
  }

  .nav {
    display: none;
  }

  .mob-cont {
    display: flex;
  }
}

@media (max-width: 540px) {
  .project-card {
    width: 100%;
  }
}

/* Contact Page */

.contact-page {
  display: flex;
  justify-content: center;
  text-align: left;
  width: 80%;
  margin-top: 64px;
  margin-left: 10%;
}

.contact-form {
  width: 450px;
  display: flex;
  flex-flow: column wrap;
}

.contact-form h1 {
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}

.contact-form input {
  outline: none;
  height: 40px;
  font-size: 24px;
  margin-bottom: 16px;
  border-radius: 4px;
}

.contact-form textarea {
  height: 200px;
  outline: none;
  resize: vertical;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 4px;
}

.contact-form label {
  font-size: 18px;
}

.shake {
  animation: shake 0.2s; 
  animation-iteration-count: infinite; 
}
  
@keyframes shake {
0% { transform: translate(1px, 0px); }
20% { transform: translate(-3px, 0px); }
40% { transform: translate(1px, 0px); }
60% { transform: translate(-3px, 0px); }
80% { transform: translate(-1px, 0px); }
100% { transform: translate(1px, 0px); }
}

.error {
  /* background-color: rgb(221, 221, 221); */
  display: none;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
	list-style: none;
  background: rgb(255, 216, 222);
  border: 1px solid rgb(158, 54, 71);
  padding: 1px;
}

.error li {
  padding-left: 1.2em;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.error li:before {
  content: "❌";
  font-size: 9px;
  margin-top: 1px;
	position: absolute;
	left: 0;
}

.submit-btn {

}