.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Navigation */

.site-content {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%
}

header {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  top: 0;
  width: 100%;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: 0;
}

.artist {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.nickname {
  font-weight: 300;

}

.nav .navlink {
  float: left;
  display: block;
  color: gray;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.nav .navlink:hover {
  color: rgb(0, 0, 0);
}

.hamburger-click-area {
  padding: 24px;
  display: none;
}

.hamburger {
  width: 24px;
  height: 14px;
}

.hamburger i {
  display: block;
  height: 2px;
  margin-bottom: 5px;
  background-color: black;
}

.hamburger-click-area:hover {
  background-color: lightblue;
}

/* Projects */
main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* top: 64px; */
  width: 100%;
  /* border: 1em solid red; */
}

.project-container {
  /* border: 1em solid black; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1;
}

.project-card {
  position: relative;
  overflow: hidden;
  width: 33.3333%;
  /* padding: 1em; */
  border: 0.5em solid transparent;
  box-sizing: border-box;
}

.project-card:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.project {
  /* height: 10%; */
  /* left: 50%;
  top: 50%; */
  transform: translate(-50%, -50%);
  /* border: 1em solid green; */
  box-sizing: border-box;
}

.project img {
  width: 100%;
  object-fit: cover;
  transform: scale(2);
  position: absolute;
}

.project:hover {
  opacity: 0.5;
}

/* Project Display */

.project-display {
  width: 100%;
}

.project-full img {
  width: 75%;
  object-fit: contain;
}

.title {
  font-weight: bold;
}

.description {

}

/* Exhibitions Display */

.exhibitions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.exhibition {
  text-align: justify; /* For Edge */
  -moz-text-align-last: left; /* For Firefox prior 58.0 */
  text-align-last: left;
}

/* Media Adjust */

@media (max-width: 768px) {
  .project-card {
    width: 50%;
    border: 0.5em solid transparent;
  }

  .site-content {
    margin-left: 0%;
    margin-right: 0%;
    width: 100%
  }

  .artist {

  }

  .hamburger-click-area {
    display: block;
  }

  .nav {
    display: none;
  }
}

@media (max-width: 540px) {
  .project-card {
    width: 100%;
    border: 0.5em solid transparent;
  }
}